<!DOCTYPE html>
<html>

<head>
 <meta charset="utf-8">

 <title> Perfil de Usuario</title>
 <link rel="stylesheet" href="../style.css"> </link>
 <script type="text/javascript" src="../assets/scripts/scripts.js">
 </script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>

<body style="background-color:ligthgrey;">
 <div class="container-fluid">




  <div class="pgn_padding">
   <div class="row">
    <div class="col-xs-12 col-sm-4 ">
     <img src="../assets/img/rin.png" class="img-responsive fotoperfil img-circle centrado separar">
    </div>
    <div class="col-xs-12 col-sm-8">

     <h1 class="centrado separar fuente-caveat-brush">
    <label for="usuario">Rin Rin Renacuajo</label>
    </h1>


     <p class="separar justificar">El hijo de rana, rin rin renacuajo salió esta mañana muy tieso y muy majo con pantalón corto y corbata a la moda sombrero encintado y chupa de moda. El hijo de rana rin rin renacuajo muchacho no salgas, le grita mamá pero el hace un gesto y orondo
      se vá Halló en el camino un ratón vecino y le dijo: amigo venga usted conmigo visitemos juntos a doña ratona y habrá francachela y habrá comilona. A poco llegaron, avanza ratón estirese el cuello y coge el aldabón y da uno, dos, tres golpes y preguntan
      ¿quién es? Yo doña ratona, beso a usted los pies. ¿Esta usted en casa? Si señor, si estoy y celebro mucho ver a ustedes hoy. Estaba en mi oficio hilando algodón pero eso no importa bienvenidos son se dieron la venia, se dieron la mano y dice ratico
      que es más veterano mi amigo el de verde radia del calor démele cerveza hágame el favor.</p>

    </div>
   </div>



   <div class="row" style="background-color:rgb(175, 191, 95)">
    <div class="col-xs-4 col-sm-4 separar">
     <p>Nombres</p>
     <p>Apellidos</p>
     <p>Fecha de nacimiento</p>
    </div>
    <div class="col-xs-8 col-sm-8">
     <div class="separar">
      <input id="nombres" class="form-control" placeholder="nombres" type="text" disabled>
      <input id="apellidos" class="form-control" placeholder="apellidos" type="text" disabled>
      <input id="fecha de nacimiento" class="form-control" placeholder="Fecha de nacimiento" type="date" disabled="">
     </div>
    </div>
   </div>

   <div class="row">
    <div class="col-xs-12 col-sm-6 centrado">
     <!--           aquiva el boton editar-->
     <button class="btn separar btn_adaptar" type="submit" onclick="contador()">Editar</button>

    </div>
    <div class="col-xs-12 col-sm-6 centrado">
     <!--           aqui va el boton borrar-->
     <button class="btn separar btn_adaptar" type="submit" onclick="">Borrar</button>
    </div>
   </div>
  </div>
 </div>


 <div class="pgn_padding separar">
  <div class="row">
   <div class="col-xs-12 col-sm-4 ">
    <img src="../assets/img/ran.png" class="img-responsive fotoperfil2 img-circle centrado separar">
   </div>
   <div class="col-xs-12 col-sm-8">

    <h1 class="centrado separar fuente-caveat-brush">
     <label for="usuario">Randall Boggs (pejelagarto)</label>
     </h1>


    <p class="separar justificar">Al principio de la película Randall es visto como un monstruo que quiere lograr tener el récord de sustos en Monstruos S.A., pero después se sabe que Randall quiere obtener gritos secuestrando a los niños y utilizando una máquina llamada "El Extractor
     de Gritos". Randall es un monstruo que tiene la capacidad de camuflarse como un camaleón. Lo utiliza para ocultarse en las habitaciones y asustar a los niños, y a los "monstruitos". </p>

   </div>
  </div>



  <div class="row" style="background-color:rgb(213, 154, 250)">
   <div class="col-xs-4 col-sm-4 separar">
    <p>Nombres</p>
    <p>Apellidos</p>
    <p>Fecha de nacimiento</p>
   </div>
   <div class="col-xs-8 col-sm-8">
    <div class="separar">
     <input id="nombres" class="form-control" placeholder="nombres" type="text" disabled>
     <input id="apellidos" class="form-control" placeholder="apellidos" type="text" disabled>
     <input id="fecha de nacimiento" class="form-control" placeholder="Fecha de nacimiento" type="date" disabled="">
    </div>
   </div>
  </div>

  <div class="row">
   <div class="col-xs-12 col-sm-6 centrado">
    <!--           aquiva el boton editar-->
    <button class="btn btn-info separar btn_adaptar" type="submit" onclick="">Editar</button>

   </div>
   <div class="col-xs-12 col-sm-6 centrado">
    <!--           aqui va el boton borrar-->
    <button class="btn btn-info separar btn_adaptar" type="submit" onclick="">Borrar</button>
   </div>
  </div>
 </div>
 </div>








</body>
